.image-row {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
  scrollbar-width: none; /* Hide scrollbar */
  white-space: nowrap; /* Prevent line breaks */
}

/* Hide scrollbar in Firefox */
.image-row::-webkit-scrollbar {
  display: none;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}
