<div class="gradient-bg"></div>


<div class="title-container">
    <div class="title">
        <div>Elevating youth access to information</div>
        <div>regarding events, activities and opportunities!</div>
    </div>

    <div class="subtitle-container">
        <div class="subtitle">
            <div>Find everything you need in one place</div>
        </div>
    </div>

    <button class="btn btn-purple" [routerLink]="signInPath"
    routerLinkActive="active" >Get Started free</button>
    <img src="assets/deca.png"class="image-from-assets">
</div>